body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Open Sans', sans-serif;
  --font-urbanist: 'Urbanist', sans-serif;
  --color-primary-blue: rgb(146, 179, 202);
  --color-primary-orange: rgb(243, 195, 177);
  --color-main-text: rgb(0, 43, 49);
  --color-error-red: rgb(208, 69, 82);
}

@keyframes spinner {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }
  @media (min-width: 640px) {
    .container {
      max-width: none;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1400px;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .spinner-child {
    @apply absolute -top-1 left-0 h-full w-full rounded-full opacity-0;
    content: '';
    background-color: var(--color-primary-orange);
  }

  .markdown-container p {
    @apply mb-5;
  }

  .markdown-container h1 {
    @apply font-bold mb-5;
  }

  .markdown-container li {
    @apply mb-3;
  }

  .markdown-container li:last-child {
    @apply mb-0;
  }

  .markdown-container ol {
    @apply list-decimal mx-0 mt-0 mb-5 pl-8;
  }

  .markdown-container ul {
    @apply list-disc mx-0 mt-0 mb-5 pl-8;
  }

  .markdown-container > :last-child {
    @apply mb-0;
  }
}

@layer base {
  body, html, #root {
    @apply h-full;
    color: var(--color-main-text);
  }

  ::-webkit-scrollbar {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar:horizontal {
    @apply h-4 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent rounded-sm;
  }

  ::-webkit-scrollbar-thumb {
    @apply border border-white rounded-sm;
    background-color: rgba(146, 179, 202, 0.5);
  }
}